<header>
    <h1><a href="/"><%= title %></a></h1>
    <nav>
        <ul>        
            <li><a href="/">Home</a></li>        
            <li><a href="/ads">Ads</a></li>        
            <li><a href="/ad-create">Create</a></li>
        </ul>
    </nav>
</header>


